@import '../../../styles/index.scss';

.hero-banner {
    width: 100%;
    height: calc(100vh - $header-height);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

    .container {
        width: 100%;
        height: 100%;

        section {
            height: 100%;
            @include flex-column;
            gap: 50px;

            @media (max-width:768px) {
                gap: 20px;
            }

            .hero-text {
                @include flex-column;
                gap: 30px;

                @media (max-width:768px) {
                    gap: 20px;
                }

                @media (max-width:576px) {
                    gap: 10px;
                }

                .logo {
                    width: 500px;

                    @media (max-width:768px) {
                        width: 350px;
                    }

                    @media (max-width:576px) {
                        width: 250px;
                    }

                    @media (max-width:400px) {
                        width: 200px;
                    }

                    img {
                        width: 100%;
                    }
                }


                .haeding {
                    h1 {
                        text-align: center;
                        font-weight: 300;
                        font-size: 80px;

                        @media (max-width:768px) {
                            font-size: 60px;
                        }

                        @media (max-width:576px) {
                            font-size: 45px;
                        }

                        @media (max-width:400px) {
                            font-size: 30px;
                        }

                        span {
                            font-weight: 700;
                            color: var(--theme-red-text);
                        }
                    }
                }
            }

            .hero-buttons {
                @include flex;
                gap: 20px;
            }
        }
    }
}