@import '../../styles/index.scss';

.header {
    position: relative;
    padding: 20px 0;
    background-color: var(--theme-white-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--theme-dark-background);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 1000;


        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        a {

            padding: 10px 15px;
            text-decoration: none;
            font-size: 20px;
            color: var(--theme-gray-100-border);
            display: block;
            transition: 0.3s;
        }
    }


    .container {
        padding: 20px;
    }

    .sidenav.open {
        width: 250px;
    }

    .container {
        header {
            @include space-between;

            .logo {
                width: 150px;
                cursor: pointer;

                img {
                    width: 100%;
                    display: block;
                }
            }

            .menu {

                .active {
                    background-color: var(--theme-gray-900-background);
                    color: var(--theme-white-text);
                }

                a {
                    padding: 8px 12px;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    color: var(--theme-black-text);
                    margin: 0 5px;
                    text-transform: capitalize;
                }

                @media (max-width:768px) {
                    display: none;

                }
            }

            .contact {
                .icon {
                    font-size: 20px;
                    cursor: pointer;
                    margin: 0 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s ease-in-out;
                    }

                    &.linkdin {
                        color: #0077b5;
                    }

                    &.github {
                        color: #333;
                    }
                }

                @media (max-width:768px) {
                    display: none;

                }

            }

            .mobile-menu-icon {
                display: none;

                .icon {
                    font-size: 30px;
                }

                @media (max-width:768px) {
                    display: block;

                }
            }
        }
    }
}